:root {
    --text-color: #262A3F;
    --color-1: #58BEBF;
    --color-2: #F1897B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1133px;
    margin: 0 auto;
}


/* Меню */

.header {
    position: fixed;
    height: 80px;
    width: 100em;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0.112533) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(9, 55, 111, 0.9);
    backdrop-filter: blur(9px);
    margin: 31px 0 0;
    z-index: 999999;
}

.header_fixed {
    position: fixed;
    margin: 0;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.header-logo-mob {
    display: none;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.topnav-menu {
    width: 255px;
    display: flex;
    justify-content: space-between;
}

.topnav-menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.topnav-phone {
    display: flex;
    flex-direction: column;
}

.topnav-phone a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}


/* Главный баннер */

.banner {
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
    height: 1110px;
    background-size: cover;
}

.banner h1 {
    margin: 0;
    padding-top: 357px;
    max-width: 643px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    color: var(--text-color);
}

.banner h1 span {
    font-weight: 700;
    color: var(--color-2);
}


/* Заголовок секции */

#about {
    margin-top: -260px;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.title-line {
    width: 630px;
    height: 26px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.489272) 7.9%, rgba(255, 255, 255, 0) 13.18%), #58BEBF;
    mix-blend-mode: normal;
    opacity: 0.3;
    backdrop-filter: blur(9px);
}

.about-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 84px;
    text-transform: uppercase;
    color: var(--color-1);
    position: absolute;
    margin-left: 64px;
}


/* О нас */

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-block {
    max-width: 761px;
    height: 570px;
    background: #FFFFFF;
    opacity: 0.9;
    box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    margin-left: -182px;
}

.left-block {
    max-width: 371px;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 25px;
}

.left-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    text-align: center;
    color: var(--text-color);
}

.left-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--text-color);
    opacity: 0.8;
}

.left-block-separate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-separate {
    width: 82px;
    height: 2px;
    background-color: var(--color-1);
    margin-top: 42px;
}

.right-block {
    max-width: 378px;
    height: 505px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-block-mob {
    display: none;
}

.right-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: var(--text-color);
    opacity: 0.8;
}

.right-text span {
    font-weight: 700;
    color: var(--color-2);
}

.right-btn {
    display: flex;
    margin-top: 38px;
    justify-content: space-between;
    margin-right: 13px;
}

.right-btn a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    padding: 4px;
}

.btn_objects {
    color: var(--color-1);
}

.btn_contacts {
    color: var(--color-2);
}

.btn-line {
    width: 172px;
    height: 13px;
    opacity: 0.3;
}

.btn-left .btn-line {
    background: var(--color-1);
}

.btn-right .btn-line {
    background-color: var(--color-2);
}

.btn-left,
.btn-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about-icons {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--text-color);
}


/* Партнеры */

.quote-block {
    display: flex;
    align-items: baseline;
    padding-top: 58px;
    padding-left: 134px;
}

.quote {
    margin-left: -30px;
}

.partners {
    background-image: url(img/quote-background.jpg);
    height: 551px;
    margin: 50px 0 90px;
}

.quote-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: var(--color-2);
    margin-bottom: 24px;
}

.quote-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    width: 497px;
}

.partners-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 77px;
}

.part-line,
.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part {
    margin-bottom: 55px;
}

.part-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: var(--color-2);
    margin-bottom: 5px;
}

.part-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}


/* Особенности */

.features {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 120px;
}

.features-block {
    margin-right: -60px;
}

.card {
    width: 295px;
    height: 280px;
    opacity: 0.9;
    filter: drop-shadow(4px 4px 35px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 21px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.features-cards {
    display: flex;
}

.card-head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: var(--text-color);
    margin-left: 14px;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-color);
}

.card-text a {
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}


/* Аренда */

.rent {
    background: #FFFFFF;
    filter: drop-shadow(4px 4px 35px rgba(0, 0, 0, 0.25));
    padding: 64px;
    margin-bottom: 60px;
}

.rent-head {
    width: 903px;
}

.rent-head-block {
    display: flex;
    margin-top: 40px;
}

.rent-head-item {
    display: flex;
    margin-right: 50px;
    width: 421px;
    align-items: flex-start;
}

.rent-head-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--text-color);
}

.rent-head-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    color: var(--text-color);
    margin-left: 15px;
}

.tabs-wrapper {
    margin: 50px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    width: 373px;
}

.tabs .tab {
    display: block;
    padding: 37px 70px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color-2);
    background: #FFFFFF;
    opacity: 0.9;
    box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
}

.tabs .tab.on {
    background: rgba(88, 190, 191, 0.9);
    box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.25);
    color: #fff
}

.tabs-items .item {
    display: none
}

.tabs-items .item.on {
    display: block
}

.rent-img img {
    object-fit: cover;
    width: 901px;
    height: 591px;
}

.rent-map {
    display: flex;
    align-items: flex-start;
}

.map {
    margin-right: 50px;
}

.map-info {
    display: flex;
    align-items: center;
}

.map-address {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    color: var(--text-color);
}


/* Контакты */

.contacts-section {
    background-image: url("img/footer_img.png");
    background-repeat: no-repeat;
    height: 397px;
    background-size: cover;
    background-position: 0 -130px;
}

.contacts {
    display: flex;
    margin-right: 75px;
    align-items: center;
}

.contacts:last-child {
    margin-right: 0px;
}

.contacts-two {
    flex-direction: column;
    align-items: flex-start;
}

.contacts-block {
    display: flex;
    width: 1167px;
    justify-content: space-between;
    margin-left: 55px;
}

.contacts-text {
    display: flex;
    flex-direction: column;
}

.cont-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-color);
    text-decoration: none;
}

.cont-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-icon {
    margin-right: 14px;
}


/* Подвал */

.footer {
    height: 186px;
    background: #09376F;
}

.footer-nav {
    padding: 50px 0;
}

.footer-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}


/*-------------------- АДАПТИВ ------------------  */

@media (max-width: 1400px) {
    .container {
        width: 90%;
    }
    /*  меню */
    .header {
        width: 100%;
        height: 40px;
    }
    .header-logo-desk {
        display: none;
    }
    .header-logo-mob {
        display: inline-block;
    }
    .topnav {
        padding: 8px 0;
        justify-content: space-around;
    }
    .topnav-menu a {
        font-size: 8px;
        line-height: 24px;
        letter-spacing: 0.08em;
    }
    .topnav-phone a {
        font-size: 8px;
        line-height: 9px;
    }
    .topnav-menu {
        width: 130px;
    }
    /* главный экран */
    .banner {
        background-size: contain;
    }
    .banner h1 {
        font-size: 20px;
        line-height: 30px;
        padding-top: 100px;
        max-width: 243px;
    }
    /*  О нас */
    .title-line {
        width: 240px;
        height: 20px;
    }
    .about-title {
        font-size: 30px;
        line-height: 45px;
        padding-bottom: 18px;
        margin-left: 5%;
    }
    #about {
        margin-top: -840px;
    }
    .left-title {
        font-size: 27px;
        line-height: 1;
    }
    .left-text {
        font-size: 12px;
        line-height: 14px;
    }
    .right-block {
        display: none;
    }
    .right-block-mob {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        opacity: 0.9;
        box-shadow: 4px 4px 35px rgba(0, 0, 0, 0.25);
        padding: 20px 10px 30px;
        height: 450px;
        margin-top: 30px;
        justify-content: space-between;
    }
    .about-img img {
        width: 65%;
    }
    .left-block {
        margin: 0;
        width: 200px;
        height: 256px;
    }
    .about-block {
        height: 256px;
    }
    .left-separate {
        height: 1px;
        margin-top: 12px;
    }
    .icon-title {
        font-size: 10px;
        line-height: 14px;
    }
    .icon-block img {
        width: 35px;
    }
    .right-text {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .right-btn a {
        font-size: 16px;
        line-height: 20px;
    }
    .btn-left {
        margin-bottom: 30px;
    }
    .right-btn {
        margin-right: 0px;
        flex-direction: column;
    }
    .about-icons {
        margin-top: 35px;
    }
}